{% load static compress %}

{% compress js %}
  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="{% static 'js/jquery.codex.js' %}"></script>
  <script type="text/javascript" src="https://unpkg.com/typeit"></script>
  <script src="https://kit.fontawesome.com/5b50cdd3ae.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
{% endcompress %}
